.top-header{
	margin-bottom:15px;
    background-color: rgb(0, 90, 141);
    padding: 10px;
    -webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
    box-shadow: 0 1px 10px rgba(0,0,0,0.1);
}
.top-margin10{
	margin-top:10px;
}

.center
{
margin-left:auto;
margin-right:auto;

}
#isActive .btn.active{
    color:#fff;
    background-color: #0085EE;
}

.navbar-inner {
    padding-left: 0px;
}

#top_menu{
    top:0;
    z-index: 10000;
    margin-bottom: 0px;
}
#sessModal{
    z-index: 10000;
    top:100px;
}



.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    text-align:center;
    z-index:1234;
    overflow: auto;
}

.spinner1 {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    text-align:center;
    z-index:1234;
    overflow: auto;
}

.ui-pnotify .picon {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    width: 17px;
    height: 17px;
}
.ui-pnotify-title {
    line-height: 17px;
    min-height: 17px;
}


.peopleCarouselImg {
    width: auto;
    max-height: 50px;
    margin-left:auto;
    margin-right:auto;
    padding:5px;
    margin:5px;
    line-height: 20px;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}


.changed {
    boder:1px solid #ffcc00;

}

.alert-color{
    boder:1px solid #ffcc00;
}

.wrapper {
    min-height: 100%;
    height: auto !important; /* ie7 fix */
    height: 100%;

}

#showContentModal{
    width:90%;
    left:5%;
    margin-left:0;
}

.content_show_window{
    width: auto;
    height: 400px;
    margin-left:auto;
    margin-right:auto;
}
#eventListTable thead{
    background-color: #005A8D;
    color: #EBEBEB;
}
#eventListTable th{
    text-align: center;
    font-weight: lighter;
}

#eventListTable .collapse{
    margin-left: 15px;
}


#eventListTable table{
    width:100%;
}


@media only screen and (max-width: 800px) {

}

@media only screen and (max-width: 640px) {

}


@media (max-width: 780px) {
    .nav-tabs{
        border-bottom: 1px solid #ddd;

    }
    .nav {
        margin-bottom: 20px;
        margin-left: 0;
        list-style: none;
    }

    .nav-tabs > li {
        margin-bottom: -1px;
        float: left;
    }
}

#content{
    width:77%;
}

#event_details_content{
    width:80%;
    margin-left: auto ;
    margin-right: auto;

}

body{
    width: 100%;
}

table .details{
    padding: 0px;
}

#eventListTable .center{
    width:20px;
}

@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'), local('PTSans-Regular'), url(http://themes.googleusercontent.com/static/fonts/ptsans/v5/LKf8nhXsWg5ybwEGXk8UBQ.woff) format('woff');
}
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: local('PT Sans Bold'), local('PTSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/ptsans/v5/0XxGQsSc1g4rdRdjJKZrNBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}

::-webkit-scrollbar {
    width: 9px;
    height: 7px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(48, 117, 134, 0.4);
}

#eventListTable td .status {
    display: block;
    top: 42%;
    right: 20px;
    width: 8px;
    height: 8px;
    -webkit-border-radius: 50em;
    -moz-border-radius: 50em;
    border-radius: 50em;
}

#eventListTable td .status.busy {
    background: #468847;
}

#eventListTable td .status.online {
    background: #005A8D;
}

.tabbable.custom-tabs.hide-label-980>.nav-tabs>li>a{
    padding:10px;
}


#content_menu li .important {
    font-size: 11px;
    display: inline-block;
    float: right;
    margin-top: -10px;
    line-height: 16px;
    padding: 2px 7px;
    color: white;
    -webkit-border-radius: 50em;
    -moz-border-radius: 50em;
    border-radius: 50em;
    background: #005A8D;
}

.navbar-inner {
    padding-right: 0px;
}

@media screen and (max-width: 700px) {
    #top_menu_bar{
        margin-left: 0px;
    }
    .tabbable>button>[class*="icon"] {
        font-size: 2em;
        text-align: center;
        min-width: 0;
    }
}



.lb-image{
    max-width: inherit;
}